## Getting ACS Data

This notebook goes through the steps for getting data from the American Community Survey (ACS) and joining it with our data from the Eviction Lab.

Steps:
1. Read Eviction Lab data and drop the years and counties we don't need
2. Obtain data from ACS API
3. Clean up ACS data - give columns meaningful names, etc.
4. Merge eviction data and ACS data to get our full dataset

In [1]:
import pandas as pd
import requests

In [2]:
evic_df = pd.read_csv("../data/raw/block-groups.csv")
print(evic_df.shape)

# keep rows for Cook County between 2012 and 2016
evic_df = evic_df.loc[evic_df["parent-location"] == "Cook County, Illinois"]
evic_df = evic_df.loc[(evic_df["year"] >= 2013) & (evic_df["year"] <= 2016)]
print(evic_df.shape)

(164747, 27)
(15972, 27)

In [3]:
evic_df.columns

Index(['GEOID', 'year', 'name', 'parent-location', 'population',
       'poverty-rate', 'renter-occupied-households', 'pct-renter-occupied',
       'median-gross-rent', 'median-household-income', 'median-property-value',
       'rent-burden', 'pct-white', 'pct-af-am', 'pct-hispanic', 'pct-am-ind',
       'pct-asian', 'pct-nh-pi', 'pct-multiple', 'pct-other',
       'eviction-filings', 'evictions', 'eviction-rate',
       'eviction-filing-rate', 'low-flag', 'imputed', 'subbed'],
      dtype='object')

In [4]:
# check distribution of GEOID values to see how many unique GEOIDs there are and confirm that
# each GEOID (block group) has five rows (years 2012-2016)
evic_df["GEOID"].value_counts().describe()

count    3993.0
mean        4.0
std         0.0
min         4.0
25%         4.0
50%         4.0
75%         4.0
max         4.0
Name: GEOID, dtype: float64

In [5]:
evic_df.head()

,GEOID,year,name,parent-location,population,poverty-rate,renter-occupied-households,pct-renter-occupied,median-gross-rent,median-household-income,...,pct-nh-pi,pct-multiple,pct-other,eviction-filings,evictions,eviction-rate,eviction-filing-rate,low-flag,imputed,subbed
8377,170310101001,2013,101.1,"Cook County, Illinois",435.0,18.92,159.0,67.23,785.0,NaN,...,0.0,3.22,0.0,14.0,4.0,2.52,8.83,0,0,0
8378,170310101001,2014,101.1,"Cook County, Illinois",435.0,18.92,161.0,67.23,785.0,NaN,...,0.0,3.22,0.0,19.0,4.0,2.48,11.78,0,0,0
8379,170310101001,2015,101.1,"Cook County, Illinois",435.0,18.92,164.0,67.23,785.0,NaN,...,0.0,3.22,0.0,13.0,3.0,1.83,7.92,0,0,0
8380,170310101001,2016,101.1,"Cook County, Illinois",435.0,18.92,167.0,67.23,785.0,NaN,...,0.0,3.22,0.0,12.0,2.0,1.20,7.19,0,0,0
8394,170310101002,2013,101.2,"Cook County, Illinois",1496.0,28.28,860.0,92.78,762.0,22537.0,...,0.0,3.07,0.0,36.0,20.0,2.33,4.19,0,0,0

In [6]:
# define components of URL for ACS API request
ACS_URL = "https://api.census.gov/data/2016/acs/acs5"
ACS_KEY = "bda4a7c6f7629b79fb63adf9b726149c173467bf" # TODO - make env variable

acs_vars = {
    "B23025_002E": "estimate_total_in_labor_force",
    "B23025_005E": "estimate_civilian_unemployed",
    "B19057_001E": "total_for_public_assistance_income",
    "B19057_002E": "with_public_assistance_income",
    "B25038_001E": "total_for_householder_tenure",
    "B25038_009E": "renter_occupied",
    "B25038_010E": "renter_moved_2015/2010_later",
    "B25038_011E": "renter_moved_2010-2014/2000-2009",
    "B25038_012E": "renter_moved_2000-2009/1990-1999",
    "B25038_013E": "renter_moved_1990-1999/1980-1989",
    "B25038_014E": "renter_moved_1980-1989/1970-1979",
    "B25038_015E": "renter_moved_1979/1969_earlier"
}

vars_list = [code for code, var in acs_vars.items()]
get_str = ",".join(sorted(vars_list))

params = {
    "get": get_str,
    "for": "block group:*",
    "in": ["state:17", "county:031"],
    "key": ACS_KEY
}

In [7]:
# make the request
results = requests.get(ACS_URL, params=params)

In [8]:
# look at the headers and first row of the JSON response
json_res = results.json()
json_res[:2]

[['B19057_001E',
  'B19057_002E',
  'B23025_002E',
  'B23025_005E',
  'B25038_001E',
  'B25038_009E',
  'B25038_010E',
  'B25038_011E',
  'B25038_012E',
  'B25038_013E',
  'B25038_014E',
  'B25038_015E',
  'state',
  'county',
  'tract',
  'block group'],
 ['312',
  '24',
  '394',
  '44',
  '312',
  '213',
  '0',
  '100',
  '113',
  '0',
  '0',
  '0',
  '17',
  '031',
  '010100',
  '1']]

In [9]:
# read_json did not work with results.json() so I'm passing it the URL constructed by requests
acs_df = pd.read_json(path_or_buf=results.url, orient="records")

# use the first row as the column names
acs_df.columns = acs_df.iloc[0]
acs_df = acs_df.reindex(acs_df.index.drop(0))

print(len(acs_df)) # confirm we have the same number of block groups here as in evic_df

3993

In [10]:
# Concatenate "state", "county", "tract", and "block group" to form a GEOID column
# in the ACS dataframe for joining with the evictions dataframe
acs_df["GEOID"] = acs_df["state"] + acs_df["county"] + acs_df["tract"] + acs_df["block group"]
acs_df["GEOID"] = acs_df["GEOID"].astype(int)
acs_df.head()

,B19057_001E,B19057_002E,B23025_002E,B23025_005E,B25038_001E,B25038_009E,B25038_010E,B25038_011E,B25038_012E,B25038_013E,B25038_014E,B25038_015E,state,county,tract,block group,GEOID
1,312,24,394,44,312,213,0,100,113,0,0,0,17,031,010100,1,170310101001
2,833,75,871,144,833,794,60,421,262,38,0,13,17,031,010100,2,170310101002
3,1061,14,1492,82,1061,883,34,594,204,51,0,0,17,031,010100,3,170310101003
4,619,0,675,101,619,396,36,221,117,22,0,0,17,031,010201,1,170310102011
5,1673,157,2279,248,1673,1278,118,738,323,68,31,0,17,031,010201,2,170310102012

In [11]:
# Rename columns to give them a more useful name than the ACS variable code
acs_df.rename(columns=acs_vars, inplace=True)
acs_df.head()

,total_for_public_assistance_income,with_public_assistance_income,estimate_total_in_labor_force,estimate_civilian_unemployed,total_for_householder_tenure,renter_occupied,renter_moved_2015/2010_later,renter_moved_2010-2014/2000-2009,renter_moved_2000-2009/1990-1999,renter_moved_1990-1999/1980-1989,renter_moved_1980-1989/1970-1979,renter_moved_1979/1969_earlier,state,county,tract,block group,GEOID
1,312,24,394,44,312,213,0,100,113,0,0,0,17,031,010100,1,170310101001
2,833,75,871,144,833,794,60,421,262,38,0,13,17,031,010100,2,170310101002
3,1061,14,1492,82,1061,883,34,594,204,51,0,0,17,031,010100,3,170310101003
4,619,0,675,101,619,396,36,221,117,22,0,0,17,031,010201,1,170310102011
5,1673,157,2279,248,1673,1278,118,738,323,68,31,0,17,031,010201,2,170310102012

In [12]:
#years = [2013, 2014, 2015, 2016, 2012]
years = [2013, 2014, 2015, 2016]
ACS_URL_years = {}
acs_complete = pd.DataFrame()
for year in years:
    ACS_URL_year = 'https://api.census.gov/data/' + str(year) + '/acs/acs5'
    results = requests.get(ACS_URL_year, params=params)
    acs_df = pd.read_json(path_or_buf=results.url, orient="records")
    acs_df.columns = acs_df.iloc[0]
    acs_df = acs_df.reindex(acs_df.index.drop(0))
    acs_df["GEOID"] = acs_df["state"] + acs_df["county"] + acs_df["tract"] + acs_df["block group"]
    acs_df["GEOID"] = acs_df["GEOID"].astype(int)
    acs_df.rename(columns=acs_vars, inplace=True)
    acs_df['year'] = year
    acs_complete = acs_complete.append(acs_df, ignore_index=True)
acs_complete

,total_for_public_assistance_income,with_public_assistance_income,estimate_total_in_labor_force,estimate_civilian_unemployed,total_for_householder_tenure,renter_occupied,renter_moved_2015/2010_later,renter_moved_2010-2014/2000-2009,renter_moved_2000-2009/1990-1999,renter_moved_1990-1999/1980-1989,renter_moved_1980-1989/1970-1979,renter_moved_1979/1969_earlier,state,county,tract,block group,GEOID,year
0,410,0,577,8,410,102,73,29,0,0,0,0,17,031,030200,3,170310302003,2013
1,711,18,1226,63,711,440,192,248,0,0,0,0,17,031,030200,4,170310302004,2013
2,640,9,744,100,640,421,132,192,81,16,0,0,17,031,030300,1,170310303001,2013
3,733,46,945,28,733,448,131,217,56,29,0,15,17,031,030300,2,170310303002,2013
4,785,114,833,166,785,556,213,256,55,32,0,0,17,031,030400,1,170310304001,2013
5,460,29,735,67,460,208,67,133,8,0,0,0,17,031,030400,2,170310304002,2013
6,592,0,765,27,592,278,87,136,11,44,0,0,17,031,030500,1,170310305001,2013
7,761,11,1128,61,761,451,152,206,93,0,0,0,17,031,030500,2,170310305002,2013
8,770,0,1018,55,770,469,197,215,44,13,0,0,17,031,030500,3,170310305003,2013
9,672,0,1245,86,672,362,107,230,0,0,0,25,17,031,030500,4,170310305004,2013
10,434,14,481,36,434,388,185,171,32,0,0,0,17,031,030601,1,170310306011,2013
11,418,14,455,92,418,343,73,232,14,12,0,12,17,031,030601,2,170310306012,2013
12,991,31,1155,165,991,317,100,167,25,0,25,0,17,031,030601,3,170310306013,2013
13,519,32,622,75,519,450,206,200,44,0,0,0,17,031,030603,1,170310306031,2013
14,703,18,691,60,703,656,248,346,42,20,0,0,17,031,030603,2,170310306032,2013
15,761,28,924,107,761,676,296,311,26,43,0,0,17,031,030604,1,170310306041,2013
16,696,16,650,87,696,204,87,57,60,0,0,0,17,031,030604,2,170310306042,2013
17,455,8,462,0,455,365,122,183,49,11,0,0,17,031,030604,3,170310306043,2013
18,953,33,1226,140,953,755,350,225,180,0,0,0,17,031,030701,1,170310307011,2013
19,528,0,506,44,528,223,134,82,0,7,0,0,17,031,030702,1,170310307021,2013
20,493,0,433,89,493,25,7,0,7,11,0,0,17,031,030702,2,170310307022,2013
21,490,45,571,112,490,286,53,162,15,47,9,0,17,031,030703,1,170310307031,2013
22,309,82,139,39,309,288,17,136,126,9,0,0,17,031,030703,2,170310307032,2013
23,821,20,853,70,821,498,163,288,7,40,0,0,17,031,030703,3,170310307033,2013
24,1583,13,1439,47,1583,1026,240,665,60,61,0,0,17,031,030706,1,170310307061,2013
25,686,76,764,64,686,428,125,208,95,0,0,0,17,031,030706,2,170310307062,2013
26,521,47,800,175,521,418,96,283,39,0,0,0,17,031,030800,1,170310308001,2013
27,485,0,655,56,485,189,52,119,18,0,0,0,17,031,030800,2,170310308002,2013
28,504,0,477,15,504,245,88,128,29,0,0,0,17,031,030800,3,170310308003,2013
29,493,0,756,0,493,237,23,214,0,0,0,0,17,031,030800,4,170310308004,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15942,285,19,610,88,285,156,0,103,38,0,15,0,17,031,842800,4,170318428004,2016
15943,553,17,676,35,553,243,0,164,79,0,0,0,17,031,842800,5,170318428005,2016
15944,269,0,461,85,269,119,0,80,39,0,0,0,17,031,842800,6,170318428006,2016
15945,299,0,199,8,299,199,20,57,83,39,0,0,17,031,842900,1,170318429001,2016
15946,123,6,56,9,123,113,0,34,48,0,0,31,17,031,842900,2,170318429002,2016
15947,556,109,676,183,556,550,33,112,219,151,0,35,17,031,842900,3,170318429003,2016
15948,200,23,74,3,200,167,0,80,87,0,0,0,17,031,842900,4,170318429004,2016
15949,517,52,369,81,517,492,16,265,182,24,5,0,17,031,843000,1,170318430001,2016
15950,415,35,499,111,415,309,0,189,82,12,12,14,17,031,843000,2,170318430002,2016
15951,323,61,370,61,323,302,27,175,61,15,11,13,17,031,843100,1,170318431001,2016
15952,201,14,263,14,201,110,11,57,42,0,0,0,17,031,843100,2,170318431002,2016
15953,406,24,683,74,406,315,5,162,107,41,0,0,17,031,843200,1,170318432001,2016
15954,371,33,443,50,371,258,5,133,70,10,40,0,17,031,843200,2,170318432002,2016
15955,464,28,875,151,464,346,39,220,52,14,15,6,17,031,843300,1,170318433001,2016
15956,421,29,603,91,421,212,34,105,38,13,0,22,17,031,843400,1,170318434001,2016
15957,287,6,560,35,287,150,2,93,38,17,0,0,17,031,843500,1,170318435001,2016
15958,540,28,584,134,540,427,37,188,131,44,27,0,17,031,843600,1,170318436001,2016
15959,615,0,612,132,615,527,40,217,233,37,0,0,17,031,843600,2,170318436002,2016
15960,396,20,474,34,396,143,0,33,77,33,0,0,17,031,843700,1,170318437001,2016
15961,579,0,944,31,579,259,45,170,29,15,0,0,17,031,843700,2,170318437002,2016
15962,354,19,511,38,354,198,12,135,35,0,0,16,17,031,843800,1,170318438001,2016
15963,261,0,334,164,261,135,0,65,12,28,18,12,17,031,843800,2,170318438002,2016
15964,393,40,167,29,393,354,26,154,89,49,0,36,17,031,843900,1,170318439001,2016
15965,240,23,327,46,240,212,0,144,68,0,0,0,17,031,843900,2,170318439002,2016
15966,560,0,303,11,560,371,44,202,113,12,0,0,17,031,843900,3,170318439003,2016
15967,296,12,280,90,296,191,0,63,117,11,0,0,17,031,843900,4,170318439004,2016
15968,401,15,402,31,401,265,0,184,20,19,36,6,17,031,843900,5,170318439005,2016
15969,0,0,0,0,0,0,0,0,0,0,0,0,17,031,980000,1,170319800001,2016
15970,0,0,0,0,0,0,0,0,0,0,0,0,17,031,980100,1,170319801001,2016
15971,0,0,0,0,0,0,0,0,0,0,0,0,17,031,990000,0,170319900000,2016

In [13]:
# Merge the ACS and evictions dataframes
merged_df = evic_df.merge(acs_complete, on=('GEOID', 'year'))

# Make sure the merged dataframe has the same number of rows as the evictions dataframe
print(len(merged_df))
merged_df.head()

15972

,GEOID,year,name,parent-location,population,poverty-rate,renter-occupied-households,pct-renter-occupied,median-gross-rent,median-household-income,...,renter_moved_2015/2010_later,renter_moved_2010-2014/2000-2009,renter_moved_2000-2009/1990-1999,renter_moved_1990-1999/1980-1989,renter_moved_1980-1989/1970-1979,renter_moved_1979/1969_earlier,state,county,tract,block group
0,170310101001,2013,101.1,"Cook County, Illinois",435.0,18.92,159.0,67.23,785.0,NaN,...,48,159,17,0,0,0,17,031,010100,1
1,170310101001,2014,101.1,"Cook County, Illinois",435.0,18.92,161.0,67.23,785.0,NaN,...,91,153,0,0,0,0,17,031,010100,1
2,170310101001,2015,101.1,"Cook County, Illinois",435.0,18.92,164.0,67.23,785.0,NaN,...,0,78,121,0,0,0,17,031,010100,1
3,170310101001,2016,101.1,"Cook County, Illinois",435.0,18.92,167.0,67.23,785.0,NaN,...,0,100,113,0,0,0,17,031,010100,1
4,170310101002,2013,101.2,"Cook County, Illinois",1496.0,28.28,860.0,92.78,762.0,22537.0,...,75,653,103,0,0,0,17,031,010100,2

In [14]:
# Exporting the result:
merged_df.to_csv('../data/work/block-groups_2012-2016_with-acs.csv')